.single-post {
  @extend .container;

  .post-content {
    @extend .py-5;
    font-size: 115%;
  }
}

.tag {
  @extend .badge;
  @extend .badge-primary;
  @extend .mx-1;
}
  
.related {
  @extend .d-flex;
  > div {
    max-width: 40%;
    > span {
      font-size: 250%;
    }
  }
}
