<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
  <script src="{{'/assets/js/jquery.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{'/assets/js/popper.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{'/assets/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{'/assets/js/common.js'| prepend: site.baseurl}}"></script>
  {% if page.js-src %}
  <script src="{{'/assets/js/' | append: page.js-src | prepend: site.baseurl}}"></script>
  {% endif %}
</html>
